<h1 class="places-title">Places</h1>

<div id="picture-grid">
  <div class="row">
    <div class="places"><%= image_tag("chiang-mai-thailand.jpg", :alt => "Chiang Mai", class: "img-responsive") %></div>
    <div class="places"><%= image_tag("chiang-mai-thailand.jpg", :alt => "Chiang Mai", class: "img-responsive") %></div>
    <div class="places"><%= image_tag("chiang-mai-thailand.jpg", :alt => "Chiang Mai", class: "img-responsive") %></div>
  </div>
  <div class="row">
    <div class="places"><%= image_tag("chiang-mai-thailand.jpg", :alt => "Chiang Mai", class: "img-responsive") %></div>
    <div class="places"><%= image_tag("chiang-mai-thailand.jpg", :alt => "Chiang Mai", class: "img-responsive") %></div>
    <div class="places"><%= image_tag("chiang-mai-thailand.jpg", :alt => "Chiang Mai", class: "img-responsive") %></div>
  </div>
  <div class="row">
    <div class="places"><%= image_tag("chiang-mai-thailand.jpg", :alt => "Chiang Mai", class: "img-responsive") %></div>
    <div class="places"><%= image_tag("chiang-mai-thailand.jpg", :alt => "Chiang Mai", class: "img-responsive") %></div>
    <div class="places"><%= image_tag("chiang-mai-thailand.jpg", :alt => "Chiang Mai", class: "img-responsive") %></div>
  </div>
</div>
